// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.posts {
    &__item {
        border: 1px solid gray;
        border-radius: 5px;
        margin: 5px;
    }
}
